@use 'sass:color';

@use '../../mol-plugin-ui/skin/base/colors' with (
    $default-background: #2d3e50,
    $font-color: #edf1f2,
    $hover-font-color: #3b9ad9,
    $entity-current-font-color: #ffffff,
    $msp-btn-remove-background: #bf3a31,
    $msp-btn-remove-hover-font-color: #ffffff,
    $msp-btn-commit-on-font-color: #ffffff,
    $entity-badge-font-color: #ccd4e0,
    // used in LOG
    $log-message: #0cca5d,
    $log-info: #5e3673,
    $log-warning: #fcc937,
    $log-error: #fd354b,
    $logo-background: rgba(0, 0, 0, 0.75),
    $color-adjust-sign: -1,
);

@use '../../mol-plugin-ui/skin/base/base';
@use '../../mol-plugin-ui/skin/base/vars' as *;

a {
    color: $font-color;
    &:hover {
        color: $hover-font-color;
    }
}

.msp-snapshot-description-me {
    background: color.change($default-background, $alpha: 0.5, $space: rgb);

    position: absolute;
    height: 50vh; // 50% of the viewport height
    left: 0;
    top: $control-spacing + $row-height;
    padding: (0.66 * $control-spacing) $control-spacing;

    resize: both; /* Allows resizing in both directions */
    overflow: auto; /* Adjust as needed */

    a {
        text-decoration: underline;
        cursor: pointer;
        color: $font-color;
    }

    ul, ol {
        padding-left: $control-spacing + 4px;
    }

    &.hidden {
        display: none;
    }

    &.shown {
        display: block; // or 'flex', 'grid', etc. depending on your layout
    }
}
