@use 'sass:color';

$default-background: color.invert(#111318, $space: rgb) !default;
$font-color: color.invert(#ccd4e0, $space: rgb) !default;
$hover-font-color: color.invert(#51a2fb, $space: rgb) !default;
$entity-current-font-color: color.invert(#68befd, $space: rgb) !default;
$msp-btn-commit-on-font-color: color.invert(#68befd, $space: rgb) !default;
$entity-badge-font-color: color.adjust(#ccd4e0, $lightness: 10%) !default;
$msp-btn-remove-background: #de0a28 !default;
$msp-btn-remove-hover-font-color: #f2f4f7 !default;

// used in LOG
$log-message: #0cca5d !default;
$log-info: #5e3673 !default;
$log-warning: #fcc937 !default;
$log-error: #fd354b !default;

$logo-background: color.invert(#111318, $space: rgb) !default;

$color-adjust-sign: 1 !default;

@function color-lower-contrast($color, $amount) {
    @return color.adjust($color, $lightness: $color-adjust-sign * $amount, $space: hsl);
}

@function color-increase-contrast($color, $amount) {
    @return color.adjust($color, $lightness: -$color-adjust-sign * $amount, $space: hsl);
}
