@use 'base/colors' with (
    $default-background: #2d3e50,
    $font-color: #edf1f2,
    $hover-font-color: #3b9ad9,
    $entity-current-font-color: #ffffff,
    $msp-btn-remove-background: #bf3a31,
    $msp-btn-remove-hover-font-color: #ffffff,
    $msp-btn-commit-on-font-color: #ffffff,
    $entity-badge-font-color: #ccd4e0,
    $log-message: #0cca5d,
    $log-info: #5e3673,
    $log-warning: #fcc937,
    $log-error: #fd354b,
    $logo-background: rgba(0, 0, 0, 0.75),
    $color-adjust-sign: -1,
);

@use 'base/base';
