@use 'base/colors' with (
    $default-background: #111318,
    $font-color: #ccd4e0,
    $hover-font-color: #51a2fb,
    $entity-current-font-color: #68befd,
    $msp-btn-remove-background: #de0a28,
    $msp-btn-remove-hover-font-color: #f2f4f7,
    $msp-btn-commit-on-font-color: #68befd,
    $entity-badge-font-color: #ccd4e0,
    $log-message: #0cca5d,
    $log-info: #5e3673,
    $log-warning: #fcc937,
    $log-error: #fd354b,
    $logo-background: rgba(0, 0, 0, 0.75),
    $color-adjust-sign: -1,
);

@use 'base/base';
